<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="EmployeeRestAPISuite">

 <test thread-count="5" name="EmployeesRESTApi">
 <classes>
 <class name="com.employeeapi.testcases.TC_001_GetAllEmployees" />
 <class name="com.employeeapi.testcases.TC_002_GetSingleEmployee" />
 <class name="com.employeeapi.testcases.TC_003_CreateRecord" />
 <class name="com.employeeapi.testcases.TC_004_UpdateRecord" />
 <class name="com.employeeapi.testcases.TC_005_DeleteRecord" />
 
 </classes>
 </test>
</suite>